.center-title{
    color: var(--high-contast-text);
    text-align: center;
    margin-bottom: 1rem;
}
.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.toon-form {
    background: rgba(255, 255, 255, 0.15);
    padding: 10px 20px;
    border-radius: 12px;
    margin: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.toon-form input{
    position: relative;
    width:100%;
    height: 100%;
    background: transparent;
    outline:none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    padding:20px 45px 20px 20px;
}

.toon-form *, .toon-form input::placeholder{
    color: black;
}
.toon-form input:hover::placeholder,.toon-form input:hover, .btn:hover{
    color: #fff;

}


.btn{
    width:100%;
    height:45px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0, 0, .2);
    cursor:pointer;
    font-size:16px;
    color:black;
    font-weight: 600;
}


