

.navbar {
    background: rgba(255, 255, 255, 0.15);
    padding: 10px 20px;
    border-radius: 12px;
    margin: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 40%;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    gap: 40px;
    min-height: 40px;
    justify-content: center;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;

}

.nav-links a:hover {
    color: #020000;
}

.nav-actions {
    display: flex;
    gap: 15px;
    align-items: center;
}

.search-form input {
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    outline: none;

}

.dropdown {
    position: relative;
    min-height: 100%;
}

.dropdown-toggle {
    cursor: pointer;
    color: #333;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
    min-height: 100%;
}

.dropdown-toggle:hover {
    color: #150404;
    height: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left:-10px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 8px;
    min-width: 160px;
    z-index: 999;
    flex-direction: column;
}

.dropdown-content a {
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;

}

.dropdown-content a:hover {
    background: rgba(255, 255, 255, 0.15);
}

.dropdown:hover .dropdown-content {
    display: flex;
}