<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Detail of Toon</title>
    <span th:replace="~{homepage :: css}"></span>
</head>
<body>
<span th:replace="~{homepage :: nav}"></span>
<div class="content-container">
    <h2 class="center-title">Detail of Toon</h2>
    <div class="content">
        <div class="form" th:object="${toon}">
            <p>Toon Id: <span th:text="*{id}"></span></p>
            <p>Toon Name: <span th:text="*{name}"></span></p>
            <p>Toon campaign: <span th:text="*{campaign}"></span></p>
            <p>Toon Profession: <span th:text="*{profession}"></span></p>
            <p>Toon level: <span th:text="*{level}"></span></p>
        </div>
        <a class="btn-detail" th:href="@{/update/{toonId}(toonId=${toon.getId()})}">Update</a>
        <a class="btn-detail" th:href="@{/delete/{toonId}(toonId=${toon.getId()})}">Delete</a>
    </div>
</div>


</body>
</html>