<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <th:block th:fragment="css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    </th:block>
</head>
<body>
 <th:block th:fragment="nav">
     <nav class="navbar">
         <div class="navbar-container">
             <div class="logo">
                 <img th:src="@{/image/stc.ico}" alt="icon">
             </div>
             <div class="nav-links">
                 <a th:href="@{/}">Home</a>

                 <div class="dropdown">
                     <span class="dropdown-toggle">Toon</span>
                     <div class="dropdown-content">
                         <a th:href="@{/list}">List</a>
                         <a th:href="@{/create}">Create</a>
                     </div>
                 </div>

                 <div class="dropdown">
                     <span class="dropdown-toggle">Skill</span>
                     <div class="dropdown-content">
                         <a th:href="@{/skill-list}">List Skill</a>
                         <a th:href="@{/create-skill}">Create Skill</a>
                     </div>
                 </div>
             </div>

             <div class="nav-actions">
                 <form class="search-form" method="get" th:action="@{/toons}">
                     <input th:name="search" placeholder="Search"/>
                 </form>
             </div>
         </div>
     </nav>

 </th:block>
<br><br>
    <h1>Homepage</h1>

</body>
</html>