<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of toons</title>
    <span th:replace="~{homepage :: css}"></span>
</head>
<body>
<span th:replace="~{homepage :: nav}"></span>

<table th:unless="${toons.isEmpty()}">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>profession</th>
        <th>level</th>
        <th>details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="t :${toons}">
        <td th:text="${t.id}"></td>
        <td th:text="${t.name}"></td>
        <td th:text="${t.profession}"></td>
        <td th:text="${t.level}"></td>
        <td> <a th:href="@{/detail/{id}(id=${t.getId()})}">details</a></td>
    </tr>
    </tbody>
</table>


</body>
</html>