<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of toons</title>
    <span th:replace="~{homepage :: css}"></span>
</head>
<body>
<span th:replace="~{homepage :: nav}"></span>

<div class="center-container">
    <h2 class="center-title">List of toons</h2>
    <ul th:if="${toons != null}">
        <li th:each="t : ${toons}">
            <a class="content" th:href="@{/detail/{toonId}(toonId=${t.getId()})}"> <span th:text="${t.getName()}"></span></a>
        </li>
    </ul>
    <ul th:if="${toons == null}">
        <p>Aucun toon de créé.</p>
    </ul>
</div>

</body>
</html>