<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <span th:replace="~{homepage :: css}"></span>
</head>
<body>
<span th:replace="~{homepage :: nav}"></span>
<table th:unless="${eliteSkills.isEmpty()}">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Linked Bosses</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="skill : ${eliteSkills}">
        <td th:text="${skill.name}"></td>
        <td th:text="${skill.description}"></td>
        <td>
            <ul>
                <li th:each="boss : ${skill.bossList}" th:text="${boss.name} + ' – ' + ${boss.pos}"></li>
            </ul>
        </td>
        <td>
            <a th:href="@{/skill-detail/{id}(id=${skill.id})}">details</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>