<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a Toon</title>
    <span th:replace="~{homepage :: css}"></span>

</head>
<body>
<span th:replace="~{homepage :: nav}"></span>





    <form class="toon-form"method="post" th:action="@{/add}" th:object="${toon}">
        <h2 class="center-title">Create a toon</h2>
        <input th:if="${toon.getId() != null}" th:field="*{id}" type="hidden">

        <div class="content">
            <label for="name"></label>
            <input type="text" th:field="*{name}" id="name" placeholder="Name"/>
        </div>
        <div class="content">
            <label for="level"></label>
            <input type="number" th:field="*{level}" id="level" placeholder="Level"/>
        </div>
        <div class="content">
            <label for="campaign"></label>
            <input type="text" th:field="*{campaign}" id="campaign" placeholder="Campaign"/>
        </div>
        <div class="content">
            <label for="profession"></label>
            <input type="text" th:field="*{profession}" id="profession" placeholder="Profession"/>
        </div>
        <button class="btn">Envoyer</button>
    </form>


</body>
</html>